@model CheckGiftCardBalanceModel

@using Nop.Core
@using Nop.Services.Customers
@using Nop.Web.Framework.UI;
@inject IWorkContext workContext
@inject ICustomerService customerService

@{
    var isRegisterCustomer = await customerService.IsRegisteredAsync(await workContext.GetCurrentCustomerAsync());
    Layout = isRegisterCustomer ? "_ColumnsTwo" : "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.CheckGiftCardBalance").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-account-page");
}

@if (isRegisterCustomer)
{
    @section left
    {
        @await Component.InvokeAsync(typeof(CustomerNavigationViewComponent), new { selectedTabId = CustomerNavigationEnum.CheckGiftCardBalance })
    }
}


<div class="page account-page check-gift-card-balance-page">
    <div class="page-title">
        @if (isRegisterCustomer)
        {
            @section PageTitle
        {
        <div class="page-title-top">
            <div class="container">
                <div class="page-title">
                    <h1>@T("Account.MyAccount")</h1>
                </div>
            </div>
        </div>
        }
        }
        else
        {
            <div class="page-title-top">
                <div class="container">
                    <div class="page-title">
                        <h1>@T("PageTitle.CheckGiftCardBalance")</h1>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="page-body form-ui">
        <div class="@isRegisterCustomer ?  : 'container'">
            @if (isRegisterCustomer)
            {
                <div class="page-title-sub">
                    <h2>@T("PageTitle.CheckGiftCardBalance")</h2>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <div class="message-error">
                    @Model.Message
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @string.Format(T("ShoppingCart.Totals.GiftCardInfo.Remaining").Text, @Model.Result)
                </div>
            }
            <form asp-controller="Customer" asp-action="CheckGiftCardBalance" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="inputs">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="lab-req">
                                        <label asp-for="GiftCardCode"></label>
                                        <nop-required />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <input asp-for="GiftCardCode" placeholder="@T("ShoppingCart.GiftCardCouponCode.Tooltip")" class="fullname form-control" />
                                    <span asp-validation-for="GiftCardCode"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <nop-captcha />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="buttons">
                            <button type="submit" name="checkbalancegiftcard" id="checkbalancegiftcard" class="button-1 check-gift-card-balance-button btn btn-primary">@T("CheckGiftCard.GiftCardCouponCode.Button")</button>
                            <script asp-location="Footer">
                                $(document).ready(function () {
                                    $('#giftcardcouponcode').keydown(function (event) {
                                        if (event.keyCode == 13) {
                                            $('#checkbalancegiftcard').click();
                                            return false;
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
