@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page hide-header-footer");
}

<div class="page password-recovery-page">
    <div class="container">
        <div class="form-flex">
            <div class="min-flex">
                <div class="single-logo">
                    @await Component.InvokeAsync(typeof(LogoViewComponent))
                </div>
                <div class="page-body box">
                    <h2>@T("Account.PasswordRecovery")</h2>
                    @if (!string.IsNullOrEmpty(Model.Result))
                    {
                        <div class="result">
                            @Model.Result
                        </div>
                        <div class="buttons">
                            <a href="@Model.ReturnUrl" class="button-1 btn btn-primary btn-sm">@T("Common.Continue")</a>
                        </div>
                    }
                    @if (!Model.DisablePasswordChanging)
                    {
                        <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-guid="@Context.Request.Query["guid"]" method="post" autocomplete="off">
                            <div asp-validation-summary="ModelOnly" class="message-error"></div>
                            <div class="fieldset">
                                <div class="form-fields">
                                    <div class="inputs">
                                        <div class="lab-req">
                                            <label asp-for="NewPassword"></label>
                                            <nop-required />
                                        </div>
                                        <input asp-for="NewPassword" class="form-control" />
                                        <span asp-validation-for="NewPassword"></span>
                                    </div>
                                    <div class="inputs">

                                        <div class="lab-req">
                                            <label asp-for="ConfirmNewPassword"></label>
                                            <nop-required />
                                        </div>
                                        <input asp-for="ConfirmNewPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmNewPassword"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons mb-0">
                                <button type="submit" name="set-password" class="button-1 new-password-button btn-block btn btn-primary">@T("Account.PasswordRecovery.ChangePasswordButton")</button>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>